* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 37, 46);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px;
}

h1 {
  font-family: "Poppins", sans-serif;
}

.first {
  align-items: center;
}

.btn {
  padding: 15px 60px;
  border-radius: 25px;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.12);
  background-color: white;
}

.btn1 {
  color: hsl(0, 0%, 100%);
  border: none;
  background-color: hsl(192, 100%, 9%);
}
.btn2 {
  margin: 20px;
  background-color: hsl(322, 100%, 66%);
  color: white;
  padding: 25px 90px;
  font-size: 20px;
  border-radius: 60px;
  margin-bottom: 70px;
  border: none;
}

.build {
  text-align: center;
  font-size: 60px;
}
.huddle {
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
  margin: 30px;
}

.btn2 {
  margin-left: 800px;
}

.image1 {
  margin-left: 400px;
  width: 1100px;
  height: 800px;
}

.services {
  display: flex;
}

.services {
  justify-content: space-between;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 100px;
  margin-bottom: 200px;
}

.coms {
  font-size: 80px;
  font-weight: bold;
}

.sent {
  font-size: 80px;
  font-weight: bold;
}

.together {
  margin-left: 200px;
  font-size: 40px;
  margin-bottom: 20px;
}

.generate {
  margin-left: 200px;
  font-size: 20px;
}

.img2 {
  width: 520px;
  height: 500px;
  margin-left: 300px;
}

.grow {
  display: flex;
  margin-bottom: 150px;
}

.two {
  padding-top: 170px;
}

.sit {
  width: 520px;
  height: 500px;
  margin-left: 200px;
}

.flow {
  display: flex;
  margin-bottom: 150px;
}

.flowing {
  font-size: 40px;
  margin-bottom: 20px;
}

.convo {
  font-size: 20px;
}

.two-way {
  margin-left: 200px;
  margin-top: 170px;
}

.user {
  display: flex;
}

.users {
  font-size: 40px;
  margin-bottom: 20px;
}

.img3 {
  width: 520px;
  height: 500px;
  margin-left: 300px;
}

.threeway {
  padding-top: 170px;
  margin-left: 200px;
}

.auth {
  font-size: 20px;
}

.ready h2 {
  text-align: center;
  font-size: 50px;
  margin-top: 200px;
}

.btn3 {
  margin-left: 760px;
  margin-top: 20px;
  background-color: hsl(322, 100%, 66%);
  color: white;
  padding: 20px 80px;
  font-size: 20px;
  border-radius: 60px;
  margin-bottom: 70px;
  border: none;
}

footer {
  display: flex;
  margin-top: 50px;
}

.huddletext {
  display: flex;
  font-size: 30px;
  margin-bottom: 15px;
}

.leftt {
  margin-left: 150px;
  margin-top: 60px;
}

.lorem {
  font-size: 16px;
  margin-bottom: 15px;
}

.fa-phone {
  margin-right: 10px;
}
.fa-envelope {
  margin-right: 10px;
}

.phone {
  margin-bottom: 13px;
  font-weight: bold;
}

.fa-facebook {
  font-size: 30px;
}
.fa-instagram {
  font-size: 30px;
  margin-left: 15px;
}

.fa-twitter {
  font-size: 30px;
  margin-left: 15px;
}

.mail {
  margin-bottom: 13px;
  font-weight: bold;
}

.news {
  margin-left: 400px;
  margin-top: 60px;
}

.letter {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input {
  height: 40px;
  width: 300px;
}

.sub {
  margin: 20px;
  background-color: hsl(322, 100%, 66%);
  color: white;
  padding: 11px 50px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

.faq {
  word-spacing: 10px;
  font-weight: bold;
}

footer {
  color: white;
  width: 1700px;
  margin-left: 100px;
  height: 400px;
  background-color: rgba(0, 37, 46);
  border-radius: 20px;
  margin-bottom: 50px;
}
